/* Font family */
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: Montserrat;
        src: url('/css/font/Montserrat-VariableFont_wght.ttf');
        font-weight: 100 1000;
        font-stretch: 25% 151%;
        font-display: swap;
    }
}

/* Reset browser default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Accessibility */
html {
    font-family: Montserrat, sans-serif;
    font-size: 62.5%;
}

/* Gobal variables */
:root {
    /* Palette colors */
    --primary-color: #C4D239;
    --font-color: #FFFFFF;
    --link-color: #3f54a0;
    --shadow-color: #00000029;
    --title-color: #1D2651;
    --text-color: #1B1F3B;

    /* Font sizes */
    --lg-x: 3.6rem;
    --lg: 2.6rem;
    --md: 1.8rem;
    --sm: 1.4rem;
}

/* Make easier work with photos */
picture, img {
    max-width: 100%;
    display: block;
    aspect-ratio: attr(width)/attr(height);
}

/* Section header */
.header__container {
    width: 100%;
    padding: 0 16px 300px;
    position: relative;
    margin-bottom: 110px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-image: url('/assets/imgs/fondo2x.webp');
    background-color: var(--primary-color);
    background-position: 22% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    max-width: 100px;
    margin-top: 33px;
    margin-bottom: 32px;
}

.header__title {
    margin-bottom: 33px;
    text-align: center;
    letter-spacing: -0.1rem;
    color: var(--title-color);
    font-size: var(--lg-x);
    font-weight: 800;
}

.header__description {
    width: 91%;
    margin-bottom: 18px;
    line-height: 2.6rem;
    text-align: justify;
    letter-spacing: -0.1rem;
    word-break: break-word;
    color: var(--title-color);
    font-size: var(--md);
    font-weight: 600;
}

.header__img {
    max-width: 80%;
    max-height: 360px;
    position: absolute;
    bottom: calc(50px - 18%);
    left: 50%;
    transform: translateX(-50%);
}

/* Section filter */
.filter__container {
    width: 100%;
    height: auto;
    margin-bottom: 34px;
}

.filter__title {
    text-align: center;
    font-size: var(--lg);
    margin-bottom: 8px;
}

.filter__container--scroll {
    margin: 0 auto;
    max-width: 800px;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}

input[type="radio"] {
    display: none;
}

.filter__btn {
    padding: 24px;
    margin: 0 4px;
    font-size: var(--md);
    font-weight: 600;
    border: none;
    border-radius: 12px;
    scroll-snap-align: center;
    background-color: var(--font-color);
    box-shadow: 2px 2px 12px var(--shadow-color);
    cursor: pointer;
}

.filter__btn:hover, .filter__btn:active, .filter__btn:focus, input[type="radio"]:checked {
    background-color: #C4D239;
}

/* Section benefits */
.benefits__container {
    width: 100%;
    height: auto;
    padding: 0 12px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 44px;
    margin-bottom: 44px;
}

.benefits__card {
    height: 100%;
    max-width: 340px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border-radius: 25px;
    box-shadow: 2px 2px 12px var(--shadow-color);
}

.benefits__card__title {
    font-size: 2.2rem;
    margin-bottom: 4px;
}

.benefits__card__img {
    height: 110px;
    margin: 0 auto;
    object-fit: contain;
    margin-bottom: 20px;
    aspect-ratio: 4/2;
}

.benefits__card__description {
    margin-bottom: 20px;
    letter-spacing: -0.1rem;
    line-height: 2.8rem;
    color: var(--text-color);
    font-size: var(--md);
    font-weight: 500;
}

.benefits__card__link {
    font-size: var(--md);
    color: var(--link-color);
    text-decoration: none;
}

.benefits__card__link:hover {
    text-decoration: underline;
    color: rgb(5, 54, 231);
}

/* Section individual benefits */

/* Modal no open */
.benefit__container {
    display: none;
    padding: 24px;
}

.benefit__container--img {
    display: none;
    width: 100%;
    height: 100%;
    min-height: 300px;
    margin-bottom: 2vh;
    overflow: hidden;
}

.benefit--img__background {
    object-fit: cover;
}

/* Open modal */
.benefit__container:target {
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefit__container--modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    overflow-y: scroll;
    max-width: 1100px;
    background-color: var(--font-color);
}

.benefit__title {
    font-size: var(--lg-x);
    text-align: center;
    margin-top: 4vh;
}

.benefit__content {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 4vh;
    gap: 44px;
    display: flex;
    flex-flow: row wrap;
    place-content: center;
}

.benefit__logo {
    margin-top: 3vh;
    max-height: 100px;
    object-fit: contain;
    align-self: center;
}

.benefit__info {
    width: 70%;
    font-size: var(--md);
}

.benefit--btn {
    margin: 0 auto;
    padding: 24px 32px;
    margin-bottom: 3vh;
    font-weight: bold;
    font-size: var(--md);
    background-color: var(--primary-color);
    color: black;
    border-radius: 12px;
    text-decoration: none;
}

/* Close modal */
.benefit--btn__return {
    position: relative;
    display: block;
    width: 106%;
    max-width: 1150px;
}

.benefit--btn__return::after {
    top: -70%;
    right: 0;
    padding: 26px 18px;
    position: absolute;
    z-index: 1;
    content: "x";
    cursor: pointer;
    font-weight: bold;
    line-height: 0;
    color: black;
    font-size: var(--lg);
    background-color: var(--primary-color);
    border-radius: 50%;
}

.benefit--btn__return::before {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .7);
    content: "";
}

/* Filter */
[value="bogota"]:checked ~ .benefits__container .benefits__card:not([data-cities~="bogota"]), 
[value="cali"]:checked ~ .benefits__container .benefits__card:not([data-cities~="cali"]), 
[value="medellin"]:checked ~ .benefits__container .benefits__card:not([data-cities~="medellin"]), 
[value="cucuta"]:checked ~ .benefits__container .benefits__card:not([data-cities~="cucuta"]),
[value="bucaramanga"]:checked ~ .benefits__container .benefits__card:not([data-cities~="bucaramanga"]) {
    display: none;
}