.header__container {
    flex-direction: row;
    column-gap: 24px;
    padding: 0 16px 48px;
}

.header__content {
    width: 50%;
}

.header__title {
    align-self: end;
    text-align: right;
}

.header__description {
    align-self: end;
    text-align: right;
}

.header__logo {
    align-self: end;
}

.header__img {
    width: 330px;
    left: 71%;
    bottom: -13%;
    max-height: 100%;
    padding: 24px;
}

.benefits__container {
    width: 80%;
    grid-template-columns: 1fr 1fr;
}

.benefit__container--img {
    display: initial;
    height: 0;
}

.benefit__title {
    margin-top: 0;
    margin-bottom: 2vh;
}